<div>
  <h1>Création</h1>
  <form action="/create" method="post">
    <label for="titre">Titre</label>
    <input type="text" name="titre" />

    <label for="resume">Résumé</label>
    <input type="text" name="resume" />

    <label for="realisateur">Réalisateur</label>
    <input type="text" name="realisateur" />

    <input type="submit" value="Créer" />
  </form>
</div>
